.pizza{
    width:300px
}

.header-text{
    text-align: justify;
    padding-left:20px;
    font-size: 70px;
    margin-bottom: 0;
    font-weight: bolder;
    
}

p{
    text-align: left;
    padding-left:20px;
    
}

@media only screen and (max-width: 600px){
    .header-text{
        font-size: 30px;
        
        
       
    }
    .pizza{
        width:200px;
        height: 200px;
    }
    .header-btn{
        margin-top: 1em;
    }
  
  
  }





.header-btn{
  
    background-color: #06B025;
    font-family: 'Raleway', sans-serif; 
  text-transform: none;
  color: white;
  border: 1px solid #fff;

  padding: 9px 9px;
  float:left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 15px;
  

  margin-bottom: 3em;
  cursor:pointer;

  
  cursor:pointer;
  margin-top: 2em;
  
  
      
  }