.history-head{
    color:#FFB347;
    font-family: 'Niconne', cursive;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
}

.history-cook{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}
@media only screen and (max-width: 600px){
   
    .history-cook{
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
  
  }

.explore-btn{
    background-color: #06B025;;
    font-family: 'Raleway', sans-serif; 
  text-transform: none;
  color: white;
  border: 1px solid #fff;

  padding: 9px 9px;
  float:left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 15px;
  

  margin-bottom: 3em;
  cursor:pointer;
}

.history-img{
    width:300px
}

@media only screen and (max-width: 600px){
    
    .history-img{
        width: 200px;
    }
  
  }